<main>
	<section class="game col-xs-12 col-sm-10 col-md-8 col-lg-6">
		<header class="row" ng-show="players.player1.ready && players.player2.ready">

			<aside class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-show="players.player1.ready">
				<div class="row">
					{{players.player1.nickname}}

					{{getCurrentPlayer() === players.player1}}
				</div>
			</aside>	

			<aside class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-show="players.player2.ready">
				<div class="row">
					{{players.player2.nickname}}
					{{getCurrentPlayer() === players.player2}}
				</div>
			</aside>	

		</header>	

		

		<div id="matrix">
			<div class="row" ng-repeat="line in matrix">
				<piece ng-click="checkAvailability(item.line,item.column)" ng-repeat="item in line" item="{{item}}"></piece>
			</div>	
		</div>
	</section>
</main>