<div class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
		<a class="forkme" href="" target="_blank"></a>
			<div class="modal-content">
			<div class="modal-header">
				<a class="forkme" href="https://github.com/diegodafm/dafm-connect4"><img src="/src/img/fork_me.png"/></a>
				<h1 class="text-center">Connect4</h1>	
			</div>
			<div class="modal-body">

			<p>
				Connect Four (also known as Captain's Mistress, Four Up, Plot Four, Find Four, Fourplay, Four in a Row and Four in a Line) is a two-player connection game in which the players first choose a color and then take turns dropping colored discs from the top into a seven-column, six-row vertically suspended grid. The pieces fall straight down, occupying the next available space within the column. 
			</p>
			<p>
				The object of the game is to connect four of one's own discs of the same color next to each other vertically, horizontally, or diagonally before your opponent.
			</p>

			<div class="text-center">
				<a ui-sref="players" class="btn btn-primary" >Play now</a>
			</div>


			</div>
			<div class="modal-footer">
				<div class="col-md-12">
					<nav class="socialLinks">

						<a href="https://github.com/diegodafm" target="_blank"><i class="fa fa-fw fa-github"></i></a>
						<a href="https://br.linkedin.com/in/diegodafm" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
						<a href="https://plus.google.com/107711995563518955268" target="_blank"><i class="fa fa-fw fa-google-plus"></i></a>
					</nav>
				</div>	
			</div>
	  </div>
  </div>
</div>